<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-NB873OP;Initial Catalog=Scoala;Integrated Security=SSPI;;"
         name="myConStr"/>
  </connectionStrings>
</configuration>